.header
  margin-top: 20px
  background-color: #f8f8f8
  border: 1px solid #e5e5e5
  border-radius: 3px 3px 0 0
  display: flex

.issuesCount
  padding: 13px
  color: #222
  font-weight: 600

.nodes
  border: 1px #e5e5e5 solid
