.issue-item {
  padding: 12px;
  line-height: 1.25;
  border-top: 1px solid #eee;
  display: flex;
}

.issue-item:hover {
  background-color: #f5f5f5;
}

.issue-item__title {
  word-break: break-word;
  font-size: 16px;
}

.issue-item__title:hover {
  color: #4078c0;
}

.issue-item__info {
  color: #767676;
  line-height: 1.25;
  font-size: 12px;
  margin-top: 3px;
}

.issue-item__avatar{
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.issue-item__left {
  text-align: center;
  width: 15%;
}

.issue-item__right {
  max-width: 830px;
}


.issue-item__header {
  padding: 10px;
}

.issue-item__body {
  padding: 10px;
}
