.issue-item {
  padding: 12px;
  line-height: 1.25;
  border-top: 1px solid #eee;
}

.issue-item:hover {
  background-color: #f5f5f5;
}

.issue-item__title {
  color: #333;
  word-break: break-word;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

.issue-item__title:hover {
  color: #4078c0;
}

.issue-item__info {
  color: #767676;
  line-height: 1.25;
  font-size: 12px;
  margin-top: 3px;
}
